.output {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px; // grid-auto-rows: minmax(100px, auto);
  // justify-content: center;
  // align-items: stretch;
  // @include clearfix;
}

.list-item {
  display: inline-grid;
  grid-column: 1 / 4;
  margin-bottom: 1em;
  width: 320px;
  background-color: $desert-sand;
  padding-bottom: 1em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  @media screen and (min-width: 640px) {
    width: 550px;
    margin-left: 2em;
  }

  @media screen and (min-width: 320px){
    width: 280px;
  }

  @media screen and (min-width: 375px){
    width: 340px;
  }

    @media screen and (min-width: 411px){
      width: 380px;
  }

    @media screen and (max-width: 768px){
      width: 320px;
  }

    @media screen and (min-width: 768px){
      width: 280px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 5px;
  }

  img {
    width: 100%;
    display: block;
    margin: auto;
  }

  h1 {
    margin: 0;
    margin: 5px;
  }

  a {
    margin-top: 1em;
    color: $darker;
    background-color: $desert-sand;
    padding: 5px 10px 5px 10px;
    border: 2px solid $darker;
    margin: 5px;
    font-weight: bold;
    float: right;
  }

  .fa-map-marker-alt {
    color: $english-lavender;
  }

  a:hover {
    color: $dark;
    background-color: $english-lavender;
  }
}