/* Nav & logo */

nav {
  background-color: $english-lavender;
  height: 6em;
  @include clearfix;
  text-align: left;
  text-align: center;
  @media screen and (min-width: 320px) {
    h1 {
      margin-left: 10px;
      margin-top: 1.5em;
      font-size: 1.25em;
    }
  }
  .fa-utensils {
    font-size: 1.5em;
    color: $dark;
  }
  a {
    font-size: 1.5em;
    color: $dark;
    font-family: $title;
    text-decoration: none;
    font-weight: 700;
    margin-left: 5px;
    text-transform: capitalize;
  }
}

ul#breadcrumb {
  background-color: $desert-sand-plus;
  padding: 0.7em;
  @include clearfix;
  margin: 0;
}

ul#breadcrumb {
  padding: 0px;
  padding: 1em;
}

#breadcrumb {
  list-style: none;
  @include clearfix;
  li {
    font-weight: bold;
    margin-left: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    color: $darker;
    +li:before {
      content: "/\00a0";
      padding: 0px;
    }
  }
}

/* Map area*/

#maincontent {
  background-color: $desert-sand;
  text-align: center;
  #restaurant-name {
    color: $english-lavender;
  }
  #restaurant-cuisine {
    background-color: $dark;
    color: $desert-sand;
    margin: 0 auto;
  }
  img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  @media screen and (min-width: 320px) {
    #restaurant-name {
      font-size: 2em;
    }
    #restaurant-cuisine,
    figure {
      width: $small;
    }
  }
}

#map {
  background-color: $dark;
  height: 25rem;
  width: 100%; // height: 100%;
  margin-top: 9em;
}

#maincontent {
  #map {
    margin-top: 0em;
  }
}
.filter-options {
  font-family: $main-font;
  color: $dark;
  @include clearfix;
  position: static;
  text-align: center;
  margin-top: 0em;
  background-color: $english-lavender;
  select {
    max-width: 140px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 2px currentColor;
    display: inline-flex;
  }
}

#reviews-list {
  margin-left: 10px;
  p {
    margin: 0;
  }
  li {
    text-align: left; // background-color: $bluish;
  }
  .review {
    border: 0px solid $darker;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 600px;
    background-color: whitesmoke;
    margin: 1em;
    display: inline-block;
  }
  .name-date {
    // @include clearfix;
    border-top-left-radius: 10px;
    background-color: $dark;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  }
  .reviewer {
    background-color: $dark;
    border-top-left-radius: 10px;
    color: $desert-sand;
    padding: 30px;
    font-weight: bold;
    font-size: 2em; // float: left;
  }
  .date {
    background-color: $dark;
    color: $desert-sand;
    padding: 2.5em;
    font-weight: bold;
    font-size: 1em;
  }
  .rate {
    background-color: $rating;
    width: 5em;
    padding: 0.5em;
    margin: 1em;
    border-radius: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  .review-text {
    text-align: justify;
    margin: 1em;
    font-size: 1.25em;
  }
}

@media screen and (min-width: 320px) {
  #reviews-list {
    .review {
      width: 310px;
      margin: 1em 0em 1em 0em;
      line-height: 2em;
    }
    .date {
      font-size: 0.80em;
    }
  }
  ul#reviews-list {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 360px) {
  #reviews-list {
    .review {
      width: 340px;
    }
    .date {
      font-size: 0.85em;
    }
  }
}

@media screen and (min-width: 375px) {
  #reviews-list {
    .review {
      width: 360px;
      margin: 1em 0em 1em 0em;
      line-height: 2em;
    }
  }
}

@media screen and (min-width: 411px) {
  #reviews-list {
    .review {
      width: 390px;
    }
    .date {
      font-size: 1em;
    }
  }
}


@media screen and (min-width: 768px) {
  .output {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #restaurant-cards {
    grid-column: 1/2;
  }
  #review-list {
    grid-column: 1/2;
    margin: 2em;
    .review {
      margin: 2em;
    }
  }
}

@media screen and (min-width: 1020px) {
  #reviews-list {
    .review {
      width: 400px;
    }
  }
  #restaurant-container {
    figure {
      width: 400px;
    }
    #restaurant-cuisine {
      width: 400px;
    }
  }
}

@media screen and (min-width: 1200px) {
  #reviews-list {
    .review {
      width: 500px;
    }
  }
  #restaurant-container {
    figure {
      width: 500px;
    }
    #restaurant-cuisine {
      width: 500px;
    }
  }
}

@media screen and (min-width: 1573px) {
  #reviews-list {
    .review {
      width: 600px;
    }
  }
  #restaurant-container {
    figure {
      width: 600px;
    }
    #restaurant-cuisine {
      width: 600px;
    }
  }
}

@media screen and (min-width: 1700px) {
  #reviews-list {
    .review {
      width: 700px;
    }
  }
  #restaurant-container {
    figure {
      width: 700px;
    }
    #restaurant-cuisine {
      width: 700px;
    }
  }
}