/* Nav & logo */

nav {
  background-color: $english-lavender;
  @include clearfix;
  text-align: left;
  .logo {
    width: 3.5em;
    float: left;
    margin-top: 5px;
  }

  a {
    font-size: 1.5em;
    color: $dark;
    font-family: $title;
    text-decoration: none;
    font-weight: 700;
    margin-left: 5px;
  }
}

#breadcrumb {
  list-style: none;
  li {
    display: inline-block;
    +li:before {
      content: "/\00a0";
      padding: 0 5px;
    }
  }
}

/* Map area*/

#maincontent {
  background-color: $desert-sand;
}

#map {
  background-color: $dark;
  height: 25rem;
  width: 100%;
}

.filter-options {
  font-family: $main-font;
  @include clearfix;
  position: static;
  text-align: right;

  h2 {
    display: inline;
    margin: 0.1em;
  }

  select {
    margin-bottom: 20px;
    border: 2px groove $darker;
    display: inline-flex;
  }
}