// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Assistant|Handlee:400,700');

$english-lavender : #B38D97;
$outer-space:       #D5ACA9;
$desert-sand:       #e0e0e0;
$silver-pink:       #C5BAAF;
$dark:              #424B54;
$darker:            #022933;

// fonts
$main-font: 'Assistant', sans-serif;
$title: 'Handlee', cursive;