// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Assistant|Handlee:400,700');

$brick-red:   #C33C54;
$debian-red:  #CF1259;
$bale-vred:   #DD7596;
$darkblue:    #022933;
$outer-space: #404E5C;
$black-coral: #4F6272;
$teal-blue:   #37718E;
$bale-blue:   #B7C3F3;
$platinum:    #DEEDE4;
$off-white:   #EEE8D6;

// fonts
$main-font: 'Assistant', sans-serif;
$title: 'Handlee', cursive;